<div>
  <div>
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-post">
     
     <div>
        <label for="blog-title">TITLE:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>

      <div>
        <label for="blog-body">BODY:</label>
        <textarea class="form-input" id="blog-body" name="blog-body"></textarea>
      </div>

      <div>
        <button type="submit">Create</button>
      </div>

    </form>
  </div>

{{!-- test without this --}}
  {{!-- {{#if blogs.length}}
  <div class="blog-list">
    <h3>{{username}} current blogs:</h3>

    {{#each blogs as |blog|}}
    <div>
      <div>
        <h4><a href="/singleBlog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div>
        <button data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="./js/newblog.js"></script>